/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(/img/back.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;

    color:BC8F8F;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

h1 {
    font-size: 250%;
    padding-bottom: 50px;
   
}

.board {
    background-color: BC8F8F;
    width: 800px;
    height: 800px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 50px 80px 10px rgba(0, 0, 0, 0.608);
    
    display: flex;
   
  }


  